<div *ngIf="mobiles else err" class="container mob-table">
  <div class="header">
    <h2 class="headers">
      Manger mobiles
    </h2>
    <button class="btn add">Add Mobile</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Mobile</th>
        <th>Price</th>
        <th>RAM</th>
        <th>Storage</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let mobile of mobiles">
      <td>
       {{ mobile['name']}}
        
      </td>
      <td>
        {{mobile['id']}}
    
      </td>
      <td>
        {{mobile['ram']}}
    
      </td>
      <td>
        {{mobile['storage']}}
    
      </td>
      <td>
        <button class="btn btn-primary">Edit</button>
      </td>
      </tr>

    </tbody>
  </table>
</div>


<ng-template #err class="text-danger">
  <p> error fetching data
  </p>
</ng-template>